<div class="dish-tiles-container">
     <div class="dish-tiles-header-container">
          <p>{{data.dishTilesComponent.paragraph}}</p>
          <h1>{{data.dishTilesComponent.header}}</h1>
     </div>
     <ul class="dish-tiles">
          {{#each data.dishTiles}}
               <li class="dish-tile">
                    {{#if this.popular}}
                         <div class="test">
                              {{this.popular}}
                         </div>
                    {{/if}}

                    <h2>{{this.name}}</h2>
                    <h1>{{this.basePrice}}</h1>
                    <ul>
                         <li>{{this.protein.name}}</li>
                         <li>
                              <ul>
                                   {{#each this.sides}}
                                        <li>{{this.name}}</li>
                                   {{/each}}
                              </ul>
                         </li>
                         <li>
                              <ul>
                                   {{#each this.veggies}}
                                        <li>{{this.name}}</li>
                                   {{/each}}
                              </ul>
                         </li>
                    </ul>
                    <div>
                         <img src="" alt="">
                    </div>
                    <div>
                         <a href="">Order Now</a>
                    </div>
               </li>
          {{/each}}
     </ul>
</div>