<div class="dish-tiles-container">
     <div class="dish-tiles-header-container">
          <p>{{data.dishTilesComponent.paragraph}}</p>
          <h1>{{data.dishTilesComponent.header}}</h1>
     </div>
     <ul class="dish-tiles">
          {{#each data.dishTiles}}
               <li class="dish-tile">
                    <div class='most-popular-container'>
                         {{#if this.popular}}
                              <div class="most-popular">
                                   {{this.popular}}
                              </div>
                         {{/if}}
                    </div>

                    <h2>{{this.name}}</h2>
                    <h1>${{this.basePrice}}</h1>

                    <div>
                         <p>
                              {{this.protein.name}}, 
                              {{#each this.sides}}
                                   {{this.name}},
                              {{/each}}
                              <br>
                              {{#each this.veggies}}
                                   {{this.name}},
                              {{/each}}
                         </p>
                    </div>

                    <div class="dish-tile-image-container">
                    {{#if this.imageURL}}
                              <div class="dish-image-container">
                                   <img src="{{this.imageURL}}" alt="image">
                              </div>
                    {{/if}}
                    </div>

                    <div class="dish-tile-cta-container">
                         <a class='cta' href="/order/{{this._id}}">Order Now</a>
                    </div>
                    
               </li>
          {{/each}}
     </ul>
</div>