<div class="hero-banner-container" style="background-image: url({{data.heroBanner.backgroundImage}});">
     
     <div class="hero-banner-textfields-container">
          
          {{#if data.heroBanner.header}}
               <h1>{{data.heroBanner.header}}</h1>
          {{/if}}

          {{#if data.heroBanner.paragraph}}
               <p>{{data.heroBanner.paragraph}}</p>
          {{/if}}

          {{#if data.heroBanner.cta}}
               <a class="cta" href={{data.heroBanner.cta.url}}>{{data.heroBanner.cta.text}}</a>
          {{/if}}

     </div>

</div>