<div class="navbar-container">

    <div class="navbar-info-container">

        <div class="navbar-info-links-container">
            {{#if data.navbar.phone}}
                <a class="navbar-info-link" href="tel:{{data.navbar.phone}}">
                    <i class="fas fa-mobile-alt fa-lg"></i>
                    {{data.navbar.phone}}
                </a>
            {{/if}}

            {{#if data.navbar.email}}
                <a class="navbar-info-link" href="{{data.navbar.email}}">
                    <i class="far fa-envelope fa-lg"></i>
                    {{data.navbar.email}}
                </a>
            {{/if}}

            {{#if data.navbar.address}}
                <a class="navbar-info-link" href="{{data.navbar.address}}">
                    <i class="fas fa-map-marker-alt fa-lg"></i>
                    {{data.navbar.address}}
                </a>
            {{/if}}
        </div>

        <div class="navbar-sm-links-container">
            <p>Follow us: </p>

            {{#if data.navbar.facebook}}
                <a class="navbar-sm-link" href="{{data.navbar.facebook}}">
                    <i class="fab fa-facebook-f fa-lg"></i>
                </a>
            {{/if}}

            {{#if data.navbar.twitter}}
                <a class="navbar-sm-link" href="{{data.navbar.twitter}}">
                    <i class="fab fa-twitter fa-lg"></i>
                </a>
            {{/if}}

            {{#if data.navbar.pinterest}}
                <a class="navbar-sm-link" href="{{data.navbar.pinterest}}">
                    <i class="fab fa-pinterest-p fa-lg"></i>
                </a>
            {{/if}}

            {{#if data.navbar.instagram}}
                <a class="navbar-sm-link" href="{{data.navbar.instagram}}">
                    <i class="fab fa-instagram fa-lg"></i>
                </a>
            {{/if}}
        </div>

    </div>

    <div class="navbar-interactions-container">

        <div class="navbar-logo-container">
            <div class="navbar-logo-wrapper">
                {{#if data.navbar.logoImage}}
                    <img src="{{data.navbar.logoImage}}" alt="logo">
                {{/if}}
                {{#if data.navbar.logoText}}
                    <h1>{{data.navbar.logoText}}</h1>
                {{/if}}
            </div>

            <ul class="navbar-page-links-container">
                {{#each data.navbar.pageLinks}}
                    <li><a href="{{this.url}}">{{this.name}}</a></li>
                {{/each}}
            </ul>
        </div>

        <div class="navbar-cart-actions-container">
           <div class="cart-button-container">
               <a href="/cart"><i class="fas fa-shopping-bag fa-lg"></i></a>
           </div>
        </div>

    </div>
    
</div>